

    <div class="col col-4-auto">
        <div class="card mb-6 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Daily Stats</h4>
          </div>
          <div class="card-body">
              testing
          </div>
        </div>
      </div>
   

@code {

}
