@using IndustrialMP.Components
@inherits LayoutComponentBase


<div class="page">
    <div class="container py-3">

   
        <TopNav></TopNav>
        <main>
        
            @Body
        


    </main>
    </div>
</div>



